/* -------------------------
  Root
------------------------- */
.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-200);
  padding: var(--space-300);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-surface);
}

/* -------------------------
  Content
------------------------- */
.title {
  font-size: var(--font-size-heading-xl);
  line-height: var(--line-height-heading-xl);
  font-weight: var(--font-weight-heading-xl);
  color: var(--color-text);
}

.actions {
  display: inline-flex;
  align-items: center;
  gap: var(--space-200);
}

/* -------------------------
  Buttons
------------------------- */
.action {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body-m);
  font-weight: var(--font-weight-body-m);
}

.menuButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--color-text-muted);
}

.action:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
