/* -------------------------
  Root
------------------------- */
.root {
  flex: 1;
  min-height: 0;
}

/* -------------------------
  Columns
------------------------- */
.columns {
  display: flex;
  gap: var(--space-300);
  align-items: flex-start;
  height: 100%;
  overflow-x: auto;
  padding: var(--space-300);
}
