/* -------------------------
  Root
------------------------- */
.root {
  width: 280px;
  flex-shrink: 0;
}

/* -------------------------
  Header
------------------------- */
.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: var(--space-200);
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-medium-grey);
  flex-shrink: 0;
}

.title {
  color: var(--color-text-muted);
  font-size: var(--font-size-heading-s);
  line-height: var(--line-height-heading-s);
  font-weight: var(--font-weight-heading-s);
  letter-spacing: var(--letter-spacing-heading-s);
  text-transform: uppercase;
}

.count {
  color: var(--color-text-muted);
}

/* -------------------------
  Tasks
------------------------- */
.tasks {
  display: grid;
  gap: var(--space-200);
}
