/* -------------------------
   Root
------------------------- */
.root {
  flex: 1;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: var(--space-300);
  padding: var(--space-300);
  text-align: center;
}

/* -------------------------
  Content
------------------------- */
.message {
  max-width: 28ch;
  color: var(--color-text-muted);
  font-size: var(--font-size-body-l);
  line-height: var(--line-height-body-l);
  font-weight: var(--font-weight-body-l);
}

/* -------------------------
  Button
------------------------- */
.action {
  padding: 0.9375rem 1.125rem;
  border-radius: 999px;
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body-m);
  font-weight: var(--font-weight-body-m);
}
