@use "./reset";
@use "./variables";
@use "./mixins";

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-base);
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
