*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
}
