/* -------------------------
  Root
------------------------- */
.root {
  min-height: 100vh;
  background-color: var(--color-bg);
}

/* -------------------------
  Layout
------------------------- */
.shell {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-width: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
