/* -------------------------
  Root
------------------------- */
.root {
  min-height: 100vh;
  background-color: var(--color-bg);
}

/* -------------------------
  Layout
------------------------- */
.shell {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-width: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* -------------------------
  Actions
------------------------- */
.showSidebarButton {
  position: fixed;
  left: 0;
  bottom: 2rem;
  padding: 1rem 1.125rem;
  border-radius: 0 999px 999px 0;
  background-color: var(--color-purple);
  color: var(--color-white);
}
